@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');
$roboto: 'Roboto', sans-serif;

body {
    margin: 0;
    font-family: $roboto;
}

.m-0 {
    margin: 0 !important;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.white-text {
    color: #FFFFFF;
}

header {
    background: linear-gradient(90deg, rgba(88,79,189,1) 0%, rgba(127,79,171,1) 44%, rgba(143,107,194,1) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.menu-navigation {
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    .logo-menu {
        img {
            width: 100px;
        }
    }

    ul {
        li {
            list-style: none;
            padding: 0 20px;

            a {
                text-decoration: none;
                color: #FFFFFF;
                font-size: 16px;
            }
        }
    }
}

.banner {
    height: 55vh;
    align-items: center;
    justify-content: center;
    
    .principal-text {
        flex-direction: column;
        align-items: center;

        .title-banner {
            font-size: 30px;
        }

        .subtitle-text {
            width: 56%;
            font-size: 18px;
        }

        .button-banner-container {
            margin-top: 30px;

            .button-banner {
                background: #FFFFFF;
                text-decoration: none;
                padding: 10px 24px;
                color: #744aa0;
            }
        }
    }
}

.card-home-container {
    justify-content: center;
}
.card {
    background: linear-gradient(90deg, #584fbd 0%, #7f4fab 44%, #8f6bc2 100%);
    border-radius: 6px;
    box-shadow: 0px 2px 14px 0px;
    // width: 25%;
    min-width: 379px;
    padding: 20px;
    justify-content: center;

    .logo-card {
        justify-content: flex-end;
        margin-bottom: 15px;

        img {
            width: 80px;
        }
    }

    .chip-card {
        img {
            width: 60px;
        }
    }

    .number-card {
        margin-top: 12px;
        text-align: center;

        p {
            margin: 0;
            font-size: 22px;
        }
    }
}